


<!--Partial file, this is the Footer that is imported into the other pages-->

<footer>
    <div class="bottom">
        <div class="container">
            <h2 class="copyright">&copy;Gordon Vlasic 2022</h2>
            <a class="c" href="https://www.instagram.com/gordonvlasic/" target="_blank"><i class="fa fa-instagram" id="apple"></i></a>
            <a class="c" href="https://t.snapchat.com/sZApp9ds" target="_blank"><i class="fa fa-snapchat" id="facebook"></i></a>
            <a class="c" href="https://github.com/Gordonvlasic" target="_blank"><i class="fa fa-github-square github" id="github"></i></a>
            <a class="c" href="https://twitter.com/gordonvlasic_" target="_blank"><i class="fa fa-twitter" id="twitter"></i></a>
            
        </div>
        
    </div>
    
</footer>

<link rel="stylesheet" href="Content/app.css">
<link rel="stylesheet" href="Content/StyleIndex.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!--Script Section-->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
</body>
</html>