<!--Partial file, this is the header that is imported into the other pages-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <!-- Css Section -->
  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap-grid.min.css'>
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href='/Content/app.css'>
  <link rel="stylesheet" href="/Content/about.css">
  <link rel="stylesheet" href="/Content/skills.css">
  
</head>
<body>
    <header>
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
              <i class="fas fa-bars"></i>
            </label>
            <label class="logo">&lt;/GV&gt;</label>
            <ul>
                <li>
                    <% if (title == "Home") { %>
                        <a class="active" href="home">Home</a>
                    <% } else { %>
                        <a class="" href="home">Home</a>
                            <% } %>
                </li>
                <li>
                    <% if (title == "About") { %>
                        <a class="active" href="about">About</a>
                    <% } else { %>
                        <a class="" href="about">About</a>
                            <% } %>
                </li>
                <li>
                    <% if (title == "Products") { %>
                        <a class="active" href="products">Projects</a>
                    <% } else { %>
                        <a class="" href="products">Projects</a>
                            <% } %>
                </li>
                <li>
                    <% if (title == "Services") { %>
                        <a class="active" href="services">Skills</a>
                    <% } else { %>
                        <a class="" href="services">Skills</a>
                            <% } %>
                </li>
                <li>
                    <% if (title == "Contact") { %>
                        <a class="active" href="contact">Contact Me</a>
                    <% } else { %>
                        <a class="" href="contact">Contact Me</a>
                            <% } %>
                </li>
                <li>
                    <% if (title == "Contact-list") { %>
                        <a class="active" href="contact-list">Contact list</a>
                    <% } else { %>
                        <a class="" href="contact-list">Contact list</a>
                            <% } %>
                </li>
                <% if(typeof displayName == 'string' && displayName) { %>
                    <li class="item" style="font-weight: bold; color: #AE6E4E"><a>Welcome, <%= displayName %></a></li>
                    <li class="item"><a href="logout">Logout</a></li>
                  <% } else { %> 
                    <li class="item"><a href="login">Login</a></li>
                  <% } %>
          
                  
          
                  <button id="themeSelector"></button><br>
            </ul>
          </nav>
          <section></section>
    </header>