<%- include ('partials/header') %>


    <div class="AboutMeWrapper">
        <div class="AboutMe">
            <img class="About" src="/Assets/images/Gordon.jpg">
            <h2>Hello, I am GORDON VLASIC. I am a highly motivated, hardworking individual. I currently own and operate 
                my own business that services South Western Ontario, focusing on Custom API's and Web Development. We are a
                a small team of 4 hard working, skill diverse individuals. 

                <br><br>

                Apart from the business, I have hobbies within coding, such as advancing my own C# skills further (It is my favourite language),
                along with hobbies in personal fitness, excursions with friends, and of course... weekend sends.
                <br><br>
                I hope you enjoy my basic website, and if you have any questions or concerns, please send me a message through the contact form!
                <br><br>
                Thanks! 
                <br><br>
                Sincerely,<br> Gordon

            </h2>
            <div class="aboutBottom">
                <a href="https://drive.google.com/file/d/1Hvywjk3CFxl_grk2zdQhEfXtPVDoYG0v/view?usp=sharing" target="_blank" download="GordonResume" class="d">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>Check out my super outdated resume!
                  </a>
            </div> 
        </div>
    </div>





  <%- include ('partials/footer') %>