<%- include ('partials/header') %>

<div class="ErrorContainer"> 
    <div class="ErrorWrapper">
        <h2 class="ErrorText"><%= error.status %></h2>
        <h2 class="ErrorText"> Error</h2>
    </div>
    <h1 class="ErrorTextMessage"><%= message %></h1>
</div>

<%- include ('partials/footer') %>