<%- include ('partials/header') %>
<!--
index.ejs
Gordon Vlasic
301196400
October 2, 2022
-->

  <div class="intro">
      <h2 class="introHeader">Hello. My name is Gordon. I am a second year student here at 
      Centennial College. I am a C# Enthusiast, along with being extremely versed in HTML, CSS 
      and JS.<br><br>I love to teach others small tips and tricks that I know! If there is anything that
      I may be able to assist you with, please let me know!</h2>

      <div>
        <a href="about" class="d">
          <span></span>
          <span></span>
          <span></span>
          <span></span>Learn More About Me!
        </a>
      </div>
  </div>

 

  <%- include ('partials/footer') %>