
<%- include ('partials/header') %>
    




    <div class="projects">
        <img src="/Assets/images/HeritageHeader.png" class="productimage">
        <a href="" class="b">
            <span></span>
            <span></span>
            <span></span>
            <span></span>!!Hidden!! Client Website
        </a><img src="/Assets/images/Csharp.jpg" class="productimage"><a href="https://github.com/Gordonvlasic/DiscordBotC-" target="_blank" class="b one">
            <span></span>
            <span></span>
            <span></span>
            <span></span>Discord Bot C#
        </a><img src="/Assets/images/Csharp.jpg" class="productimage"><a href="https://github.com/Gordonvlasic/ProperCSharp" target="_blank" class="b two">
            <span></span>
            <span></span>
            <span></span>
            <span></span>Website Scraper - In Progress
        </a>
    </div>

<%- include ('partials/footer') %>