<%- include ('partials/header') %>

<div class="SkillsWrapper">
    <div class="SkillsContainer">
        <h2>MY CODING SKILLS</h2>
        <div class="Skills">
            <div class="Details">
                <span>HTML</span>
                <span>90%</span>
            </div>
            <div class="Bar">
                <div id="html-bar"></div>
            </div>
        </div>
        <div class="Skills">
            <div class="Details">
                <span>CSS</span>
                <span>75%</span>
            </div>
            <div class="Bar">
                <div id="css-bar"></div>
            </div>
        </div>
        <div class="Skills">
            <div class="Details">
                <span>C#</span>
                <span>85%</span>
            </div>
            <div class="Bar">
                <div id="js-bar"></div>
            </div>
        </div>
        <div class="Skills">
            <div class="Details">
                <span>JavaScript</span>
                <span>68%</span>
            </div>
            <div class="Bar">
                <div id="jQuery-bar"></div>
            </div>
        </div>
    </div>
</div>





<%- include ('partials/footer') %>