.SkillsWrapper{
    height: 1400px;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.SkillsWrapper{
    width: 40%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    padding-top: 26rem;
}
.SkillsContainer{
    width: 100%;
    padding: 50px 30px;
    background-color: rgba(255,255,255,0.06);
    border: 2px solid rgba(255,255,255,0.06);
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
}
.SkillsContainer *{
    font-family: "Poppins",sans-serif;
    color: #ffffff;
    font-weight: 500;
}
h2{
    margin-bottom: 40px;
    letter-spacing: 2px;
}
.Skills:not(:last-child){
    margin-bottom: 30px;
}
.Details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.Bar{
    position: relative;
    background-color: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.06);
    padding: 7px 10px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}
.Bar div{
    position: relative;
    width: 0;
    height: 5px;
    border-radius: 10px;
    background-color: #badefc;
    border: 1px solid #1c97fc;
    box-shadow: 0 0 5px rgba(28,151,252,0.6);
}
#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill{
    100%{
        width: 90%;
    }
}
#css-bar{
    animation: css-fill 2s forwards;
}
@keyframes css-fill{
    100%{
        width: 75%;
    }
}
#js-bar{
    animation: js-fill 2s forwards;
}
@keyframes js-fill {
    100%{
        width: 85%;
    }
}
#jQuery-bar{
    animation: jQuery-fill 2s forwards;
}
@keyframes jQuery-fill{
    100%{
        width: 68%;
    }
}